<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>bear</title>
</head>
<body>
    <br>
    <main class="text-center">
        <h1>sign into <span class="indigo"><%= appName %></span> with wasteof.</h1>
        <input type="text" placeholder="Loading..." id="code" readonly>
        <br>
        <br>
        <label for="frontend">Choose a frontend:</label>
        <br/>
        <select name="frontend" id="frontend">
            <option value="prod">production (wasteof.money)</option>
            <option value="alpha">alpha (alpha.wasteof.money)</option>
            <option value="eris">eris (wasteof.eris.cafe)</option>
        </select>
        <br/>
        <small>want to have your frontend here? <a href="https://github.com/errplanedev/bear/issues/new">make an issue on the repo!</a></small>
        <br/>
        <br/>
        <!-- fallback to prod for some reason -->
        <a href="https://wasteof.money/posts/<%= post %>" target="_blank" id="commentLink">
            <button>comment the code on this post</button>
        </a>
        <button id="done">i did it!</button>
    </main>

    <data value="<%= post %>" id="postId"></data>
    <script type="module">
        const codeInput = document.getElementById('code');
        const doneButton = document.getElementById('done');
        let left = false;

        // Just in case.
        const frontendMappings = {
            // DO NOT APPEND THE SLASHES AT THE END
            prod: "https://wasteof.money/posts",
            alpha: "https://alpha.wasteof.money/posts",
            eris: "https://wasteof.eris.cafe/posts"
        }

        const frontendSelect = document.getElementById("frontend");
        const commentLink = document.getElementById("commentLink");
        const postId = document.getElementById("postId").value;

        function updateCommentLink(e) {
            commentLink.href = `${frontendMappings[e.target.value]}/${postId}`;
        }

        updateCommentLink({ target: { value: frontendSelect.value } });

        frontendSelect.addEventListener("change", updateCommentLink);

        document.addEventListener('visibilitychange', () => {
            if (document.hidden) {
                left = true;
                console.log('left page');
            }
        });

        (async () => {
            const { data } = await axios.get('/api/getCodes');
            let pub = data.pub;
            let priv = data.priv;
            codeInput.value = pub;

            doneButton.onclick = async () => {
                const { data } = await axios.get(`/api/done?pub=${pub}`);
                if(data.error) {
                    alert(`Error: ${data.info}`);
                } else {
                    let params = new URLSearchParams(document.location.search);
                    location.href = atob(params.get('redirect')) + "?priv=" + priv;
                }
            }
        })();
    </script>
</body>
</html>