<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>bear</title>
</head>
<body>
    <br>
    <main class="text-center">
        <h1>bear</h1>
        <p>bear is the better way to authenticate wasteof.money users for your 3rd party app.</p>
        <a href="/demo">
            <button>view demo</button>
        </a>
        <button class="/docs">docs</button>
    </main>
</body>
</html>