@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
    font-family: "Space Grotesk", monospace;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0f172a;
    color: white;
}

main {
    padding: 1.5rem;
}

.text-center {
    text-align: center;
}

button {
    background-color: rgb(129, 140, 248);
    color: black;
    padding: 0.5rem;
    border-radius: 0.375rem;
    border-width: 2px;
    border-color: rgb(51 65 85);
    cursor: pointer;
    transition: all 0.25s;
}

button:active {
    transform: scale(0.95, 0.95);
}

input, select {
    margin-top: 0px !important;
    width: 100%;
    border-radius: 0.5rem;
    border-width: 2px;
    border-color: rgb(99, 102, 241);
    color: rgb(0, 0, 0);
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    width: fit-content;
    font-style: italic;
    background-color: rgb(165, 180, 252);
}

input:focus-visible {
    outline: 1px solid #2563eb;
}

a:has(button) {
    text-decoration: none;
    color: inherit;
}

.indigo {
    color: #6366f1;
}

a, a:visited {
    color: rgb(165, 180, 252); 
}