@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0f0f14;
    color: white;
}

.text-center {
    text-align: center;
}

button, input {
    background-color: inherit;
    color: inherit;
    outline: none;
    border: 1px solid white;
    padding: 0.75rem 1rem 0.75rem 1rem;
    border-radius: 999px;
    transition: all 0.25s;
}

::selection {
    background-color: white;
    color: #0f0f14;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.06);
    cursor: pointer;
}

button:active {
    background-color: rgba(255, 255, 255, 0.08);
}

a:has(button) {
    text-decoration: none;
    color: inherit;
}

.indigo {
    color: #6366f1;
}